.timer-bar-container {
	position: relative;
	overflow: hidden;
	width: vw;
	height: 35px;
	border-radius: 5px;
	background-color: rgba(145, 145, 145, 0.452);
}

.time-remaining {
	font-weight: 600;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #eee;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}